@use '../../theme/theme' as *;

.status-bar {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px 0;
  color: $color-text-primary;
  font-size: 12px;
  font-weight: 700;
}

.status-bar__icons {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $color-text-secondary;
}

.status-bar__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
}
